@import url('https://db.onlinewebfonts.com/c/0801c08e5412f54e4b4e9ad146d83a12?family=Ink+Free');

@font-face {
  font-family: 'Ink Free';
  src: url('https://db.onlinewebfonts.com/t/0801c08e5412f54e4b4e9ad146d83a12.eot');
  src: url('https://db.onlinewebfonts.com/t/0801c08e5412f54e4b4e9ad146d83a12.eot?#iefix') format('embedded-opentype'),
       url('https://db.onlinewebfonts.com/t/0801c08e5412f54e4b4e9ad146d83a12.woff2') format('woff2'),
       url('https://db.onlinewebfonts.com/t/0801c08e5412f54e4b4e9ad146d83a12.woff') format('woff'),
       url('https://db.onlinewebfonts.com/t/0801c08e5412f54e4b4e9ad146d83a12.ttf') format('truetype'),
       url('https://db.onlinewebfonts.com/t/0801c08e5412f54e4b4e9ad146d83a12.svg#Ink Free') format('svg');
}