@font-face {
  font-family: 'Ink Free';
  src: url('/fonts/InkFree.woff2') format('woff2'),
       url('/fonts/InkFree.woff') format('woff'),
       url('/fonts/InkFree.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}