@tailwind base;
@tailwind components;
@tailwind utilities;



.id-card {
  background-image: url('/id-background.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top center;
}